*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}


.card {
    border: none;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;

}

ol#highScores {
    margin-left: 46%;
    margin-top: 10px;;
}

li::marker {
    text-align: center;
}

.btn {
    background-color: purple;
    color:white;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
}

#clear.btn {
    color:white;
}

#clear.btn:hover {
    background-color:plum;
}

#back.btn {
    color:white;
}

#back.btn:hover {
    background-color:plum;
}

a:hover {
    color: plum;
}