:root {
    background-color: azure;
}

*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

#home {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 80px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    background-color: purple;
    color:white;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
}